<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Products</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <button class="btn btn-success" data-toggle="modal" data-target="#create-user">Create New</button>
        </div>
    </div>
</div>


<table class="table table-bordered pagin-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th width="220px">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
        <td>{{ value.id }}</td>
        <td>{{ value.name }}</td>
        <td>{{ value.price }}</td>
        <td>
            <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-data" class="btn btn-primary">
                <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button ng-click="remove(value,$index)" class="btn btn-danger">
                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button data-toggle="modal" ng-click="voucherOpen(value.id)" data-target="#voucher-data" class="btn btn-default">
                <span class="glyphicon glyphicon glyphicon-gift" aria-hidden="true"></span>
            </button>
            <button ng-click="buy(value,$index)" class="btn btn-success">
                <span class="glyphicon glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>

<!-- Create Modal -->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Create Item</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Name : </strong>
                                <div class="form-group">
                                    <input ng-model="form.name" type="text" name="name" class="form-control" required />
                                </div>
                                <strong>Price: </strong>
                                <div class="form-group" >
                                    <input ng-model="form.price" type="text" name="price" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Name : </strong>
                                <div class="form-group">
                                    <input ng-model="form.name" type="text" name="name" class="form-control" required />
                                </div>
                                <strong>Price: </strong>
                                <div class="form-group" >
                                    <input ng-model="form.price" type="text" name="price" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Voucher Modal -->
<div class="modal fade" id="voucher-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="voucher()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel3">Add Voucher</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Voucher id: </strong>
                                <div class="form-group">
                                    <input ng-model="form.voucher_id" type="text" name="voucher_id" class="form-control" required />
                                    <input ng-model="form.product_id" type="hidden" name="product_id" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="voucherItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
